# Include JS bundles and source maps
recursive-include carbon_dash *.js
recursive-include carbon_dash *.js.map
recursive-include carbon_dash *.json
recursive-include carbon_dash *.LICENSE.txt

# Include license and readme
include README.md
include LICENSE