# Include JS bundles and source maps
recursive-include carbon_dash_components *.js
recursive-include carbon_dash_components *.js.map
recursive-include carbon_dash_components *.json
recursive-include carbon_dash_components *.LICENSE.txt

# Include license and readme
include README.md
include LICENSE